body {
  font-family: serif;
  background-color: #eaeaea;
}

.link-tags {
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  border: 1px outset navy;
  color: red;
  text-shadow: 0px 0px 11px lightgrey;
  width: 100%;
}

.link-tags>.add-link {
  color: red;
  text-decoration: none;
}

.link-tags>.edit-link {
  color: red;
  text-decoration: none;
}

.link-tags>.delete-link {
  color: red;
  text-decoration: none;
}

.link-tags>.get-link {
  color: red;
  text-decoration: none;
}

table {
  width: 50%;
}

table,
th,
td {
  text-align: center;
}

#edit {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#deleteBtn {
  margin-top: 20px;
}

/*Modal Style */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* End Of Modal Style*/

/* #inputBtn {
  margin: 80px 50px;
  width: 15%;
} */

#div-input {
  position: relative;
}

#user-input-pName {
  width: 30%;
  position: absolute;
  top: 20px;
  left: 500px;
  margin-top: 10px;
}

.text-pName {
  position: absolute;
  left: 500px;
}

.text-quan {
  position: absolute;
  left: 500px;
  top: 40px;
}

#user-input-pQuan {
  width: 30%;
  position: absolute;
  top: 20px;
  left: 500px;
  margin-top: 50px;
}

.my-form-group {
  display: grid;
}

/* @media screen and (max-width: 980px) {
  
} */

#remove-link {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.counter-style {
  text-decoration: none;
  color: red;
  background-color: aliceblue;
  padding: 0 10px;
  font-size: 85%;
  /* To Make It At The Top Of The Icon*/
  vertical-align: super;
}

.fave-link {
  text-decoration: none;
}

/** New Styles */

.nav-link {

  margin-left: 8vw;
  margin-bottom: 10vh;

}

#AddTitle {

  margin: 5vh 0;
}

.title {

  font-size: 2vmax;
  margin-left: 22vw;
}

#form-control-input1-id,
#form-control-input2-id {

  width: 50vw;
  display: inline-block;
  margin-left: 15vw;
}

#inputBtn {
  margin: 5vw 1vw 0vw 14vw;
  width: 20vw;
  height: auto;
}

.form-label {
  left: 16vw !important;
}

/*! Media Queries */

@media screen and (min-width: 768px) and (max-width: 1200px) {

  body {

    background-color: olivedrab;
  }

  .form-control {
    width: 50vw !important;
    height: auto !important;
  }

  .form-label {
    left: 17vw !important;
  }

  #inputBtn {
    margin: 10vw 1vw 0vw 14vw;
    width: 24vw;
    height: 4vh;
  }

  .nav-link {

    margin-left: 0vw;
    margin-bottom: 10vh;

  }

}



@media only screen and (max-width: 475px) {
  body {
    background-color: pink;
  }

  .form-control {
    width: auto !important;
    height: auto !important;
  }

  .form-label {
    left: 15vw !important;
  }

  #inputBtn {
    margin: 10vw 7.7vw;
    width: auto;
  }

  .nav-link {

    margin-left: 0vw;
    margin-bottom: 10vh;

  }
}

@media only screen and (min-width: 480px) and (max-width: 540px) {
  body {
    background-color: palegreen;
  }

  .form-control {
    width: 50vw !important;
    height: auto !important;
    position: relative;
    left: 25vw;
  }

  .form-label {
    left: 25vw !important;
  }

  #inputBtn {
    margin: 6vw 10vw 0 14vw;
    width: auto;
  }
}