body {
  font-family: serif;
  /* background-color: lightgray; */
  background-image: linear-gradient(to right, snow, lightblue);
}


.link-tags {
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  border: 1px outset navy;
  color: red;
  text-shadow: 0px 0px 11px lightgrey;
  width: 100%;
}



.link-tags>.add-link {
  color: red;
  text-decoration: none;
}

.link-tags>.edit-link {
  color: red;
  text-decoration: none;
}

.link-tags>.delete-link {
  color: red;
  text-decoration: none;
}

.link-tags>.get-link {
  color: red;
  text-decoration: none;
}

table {
  width: 50%;
  border: 2px;
  border-color: gray !important;
}

table,
th,
td {
  text-align: center;
}

#edit {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#deleteBtn {
  margin-top: 20px;
}

/*Modal Style */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* End Of Modal Style*/

/* #inputBtn {
  margin: 80px 50px;
  width: 15%;
} */

#div-input {
  position: relative;
}

#user-input-pName {
  width: 30%;
  position: absolute;
  top: 20px;
  left: 500px;
  margin-top: 10px;
}

.text-pName {
  position: absolute;
  left: 500px;
}

.text-quan {
  position: absolute;
  left: 500px;
  top: 40px;
}

#user-input-pQuan {
  width: 30%;
  position: absolute;
  top: 20px;
  left: 500px;
  margin-top: 50px;
}

.my-form-group {
  display: grid;
}

/* @media screen and (max-width: 980px) {
  
} */

#remove-link {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.counter-style {
  text-decoration: none;
  color: red;
  padding: 0 10px;
  font-size: 85%;
  /* To Make It At The Top Of The Icon*/
  vertical-align: super;
}

.newstyle{

animation-name: example;
animation-duration: 2s;

}

@keyframes example{

  from {background-color: orange;}
  to {background-color: gold;}
}

.fave-link {
  text-decoration: none;
}

/** New Styles */

.form-label-upload{

  margin-left: 17.5vw;

}

.ownImage{

  width: 50vw;
  /* display: block; */
  height: auto;
}
.img-thumbnail{

  max-width: 30% !important;
  background-color: lightblue !important;
}
#edit-input-id {

  margin: auto ;
  display: block;
  width: 50vw;
}

#inputEditBtn{

  margin: auto;
  display: block;
  margin-top: 5vh;
  width: 30vw;
}

#userInput {


  width: 30vw;
  border-right: none;
  border-radius: 15px;
  /* margin: auto; */
  height: 6vh !important;
  
}

#mybutton{

   border-radius: 15px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   border-left-style: none;
   margin-left: -9vw;
   height: 6vh;
   width: 9vw;
}

.nav-link {

  margin-left: 8vw;
  margin-bottom: 10vh;
  font-size: large;
  cursor: pointer;

}
.nav-link:hover{

  color: darkblue;
  font-size: larger
}

#AddTitle {

  margin: 5vh 0;
}

.title {

  font-size: 2vmax;
  margin-left: 22vw;
}

#form-control-input1-id,
#form-control-input2-id {

  width: 50vw;
  display: block;
  margin:auto
}

#inputBtn {
  margin: 5vw 1vw 0vw 14vw;
  width: 20vw;
  height: auto;
}

.form-label {
  left: 19vw !important;
}

/*! Media Queries */

@media screen and (min-width: 768px) and (max-width: 1200px) {

 

  .form-control {
    width: 50vw !important;
    height: auto !important;
  }

  .form-label {
    left: 17vw !important;
  }

  #inputBtn {
    margin: 10vw 1vw 0vw 14vw;
    width: 24vw;
    height: 4vh;
  }

  .nav-link {

    margin-left: 0vw;
    margin-bottom: 10vh;

  }

}



@media only screen and (max-width: 475px) {


 
  .form-control {
    width: 50vw !important;
  
  }

  .form-label {
    left: 20vw !important;
  }

  #inputBtn {
    /* margin: 80px 40px 40px;
    width: auto; */
    width: fit-content;
  }

  .nav-link {

    margin-left: 0vw;
    margin-bottom: 10vh;

  }

  #mybutton{

   margin-left: -21vw;
   width: 21vw;
}



}

@media only screen and (min-width: 480px) and (max-width: 540px) {


  .form-control {
    width: 50vw !important;
    margin: auto !important;
    display: block !important;
    height: auto;
    
  }

  .form-label {
    left: 25.5vw !important;
  }

  #inputBtn {
    margin: 6vw 10vw 0 14vw;
    width: auto;
  }

  #mybutton {

    margin-left: -16vw;
    width: 16vw;

  }

 
}

